---
layout: default
---

<div class="home">

  <h1 class="page-heading">Presentations</h1>

  <table class="table" width="600px">

  <div class="tags-expo-section">
    {% for tag in site.categories %}
    <h2 id="{{ tag[0] | slugify }}">{{ tag[0] }}</h2>
    <ul class="tags-expo-posts">
      {% for post in tag[1] %}
      <li>
        <a class="post-title" href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
        </a>
        -
        {{ post.description }}
        (<small class="post-date">{{ post.date | date_to_string }}</small>)
      </li>
      {% endfor %}
    </ul>
{% endfor %} 
  </div>
</div>
